################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnofficialHaverlandUWP/bld/Debug
/UnofficialHaverlandUWP/bin/Debug
